@import 'src/_variables.scss';

.sidenav{
    background-color: white;
    color: black;
}

.drawer {
    background-color: $aqua;
}

.sidenav__drawer{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .title{
        font-size: 3rem;
    }
}

.divider {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sidenav__drawer-nav {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $aqua;
    color: white;
    height: 5rem;

    img{
        width: 13rem;
    }
}

button{
    mat-icon {
        transform: scale(2);
    }
}