@import 'src/_variables.scss';

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 300ms;
}

.content:hover {
    transform: scale(1.10);
}

.content__img {
    position: relative;
    box-shadow: 0 0 15px -1px $violet;
    border-radius: 2rem;

    img {
        border-radius: 2rem;
        opacity: 90%;
    }

    img:hover {
        opacity: 100%;
    }
}