.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all 300ms;
}

.content:hover {
    transform: scale(1.10);
}

.content__img {
    position: relative;

    img {
        border-radius: 2rem;
        opacity: 90%;
    }

    img:hover {
        opacity: 100%;
    }
}