<div class="content-right-account">

    <section class="content-title">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h2>Verificación en dos pasos</h2>
    </section>

    <section class="vh-100">

        <form [formGroup]="formVerify2fa">

            <mat-card>
                <mat-card-content>
    
                    <div class="card-active-2fa">
    
                        <p>La verificación en dos pasos está {{ stateVerify2fa.state | uppercase }} 
                            <span *ngIf="stateVerify2fa.fechaActivacion">desde {{ stateVerify2fa.fechaActivacion | date: 'medium' }}</span>
                        </p>
                        <button mat-raised-button color="primary" (click)="enableOrDisableVerify2fa()">
                            {{ stateVerify2fa.textBtn | titlecase }}
                        </button>
    
                    </div>
                </mat-card-content>
            </mat-card>
    
            <h3>Segundos pasos disponibles</h3>
            <p>Al realizar un segundo paso después de introducir la contraseña, verificamos que eres tú quien ha iniciado sesión.</p>
    
            <mat-divider></mat-divider>
    
            <mat-card class="mt-2">
                <mat-card-content>
                    <ng-container formArrayName="metodos">
                        <ng-container *ngFor="let metodoForm of methods.controls; let i = index">

                            <div class="method-2fa" [formGroup]="getMethodByIndex(i)">
                                <section>
                                    <h3>Correo electronico</h3>
                                    <p>Llega un código de seis dígitos al correo electrónico de la cuenta después de ingresar la contraseña. Debe introducir el código cuando se solicite para poder acceder.</p>
                                </section>
            
                                <section>
                                    <mat-slide-toggle formControlName="estado"></mat-slide-toggle>
                                </section>
                            </div>
            
                            <mat-divider></mat-divider>

                        </ng-container>
                    </ng-container>
    
                </mat-card-content>
            </mat-card>

        </form>


    </section>

</div>