.card-active-2fa{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mt-2{
    margin-top: 2rem;
}

.method-2fa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}