<h2>Seleccione plataforma de pago</h2>

<mat-dialog-content>

    <div class="content">
        <section class="pay-method">

            <div class="pay-method__img" (click)="createPayment('mercadopago')">
                <img [src]="logoMercadoPago" alt="Mercado Pago">
            </div>
            <p>Tarjetas de crédito y débito, PSE y efectivo</p>
        </section>
    
        <!-- <section class="pay-method">
            
            <div class="pay-method__img" (click)="createPayment('paypal')">
                <img [src]="logoPaypal" alt="PayPal">
            </div>
            <p>PayPal</p>
        </section> -->
    </div>

</mat-dialog-content>
