<div class="content-right-account">
    <h2>Información personal</h2>

    <section class="vh-100 mb-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Información básica</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <div class="info-card">
                    <p class="title">Nombre</p>
                    <p class="value">{{ dataUser?.nombre | titlecase }}</p>
                </div>

                <mat-divider></mat-divider>

                <div class="info-card">
                    <p class="title">Nombre de usuario</p>
                    <p class="value">{{ dataUser?.username }}</p>
                </div>

                <mat-divider></mat-divider>

            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/site/account/personal-info/update-basic-info">
                    Actualizar
                </button>
            </mat-card-actions>
        </mat-card>
    </section>

    <section class="vh-100 mb-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Información de contacto</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <div class="info-card">
                    <p class="title">Email</p>
                    <p class="value">{{ dataUser?.email }}</p>
                </div>

                <mat-divider></mat-divider>

                <div class="info-card">
                    <p class="title">Teléfono</p>
                    <p class="value">{{ dataUser?.telefono?.codigo_area }} {{ dataUser?.telefono?.numero }}</p>
                </div>

                <mat-divider></mat-divider>

            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/site/account/personal-info/update-contact-info">
                    Actualizar
                </button>
            </mat-card-actions>
        </mat-card>

    </section>

    <section class="vh-100 mb-2">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Direcciones</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <ng-container *ngIf="dataUser?.direcciones?.length != 0">

                    <div *ngFor="let direccion of dataUser?.direcciones;let i = index">
    
                        <div class="info-card">
                            <p class="title">{{direccion.titulo | titlecase}}</p>
                            <p class="value">
                                <span>{{direccion.direccion | titlecase}}</span>
                                <span> {{direccion.pais | titlecase}}, {{direccion.departamento | titlecase}}, {{direccion.ciudad | titlecase}}</span>
                            </p>

                            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Editar</button>
                                <button mat-menu-item>Eliminar</button>
                            </mat-menu>
                        </div>
        
                        <mat-divider></mat-divider>
                    </div>
                </ng-container>

                <ng-container *ngIf="dataUser?.direcciones?.length == 0">
                    <p>Sin direcciones</p>
                </ng-container>


            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/site/account/personal-info/add-address">
                    Agregar dirección
                </button>
            </mat-card-actions>
        </mat-card>

    </section>
</div>