.container-card{
    margin-bottom: 1rem;
}

.card{

    display: flex;
    flex-direction: column;
    align-items: center;

    .card-img{
        position: relative;
        height: 10rem;
        width: 8rem;

        img{
            border-radius: 1rem;
        }
    }

    .card-content{
        h2{
            font-size: 1em;
        }

        @media (min-width: 700px) {
            h2{
                font-size: 1.5em;
            }
        }
    }

    .card-price-quantity{

        .price{
            display: flex;
            align-items: center;
            gap: 1rem;
            flex-wrap: wrap;

            .price__value{
                h2{
                    margin-bottom: 0;
                    font-size: 1em;
                }

                @media (min-width: 700px) {
                    h2{
                        font-size: 1.5em;
                    }
                }

                p{
                    margin: 0;
                    text-decoration-line: line-through;
                }
            }

            .discount{
                background-color: #FD62E3;

                p{
                    margin: 10px;
                }
            }
        }

        .quantity {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 1rem;
        
            .quantity__product {
                display: flex;
                align-items: center;
                gap: 0.5rem;
        
                .quantity__product-form-field {
                    width: 5rem;
                }
        
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }
            }
        
        }
    }
}

@media (min-width: 700px) {
    .card{
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }
}