<form [formGroup]="productsForm">

    <ng-container formArrayName="productos">
        <ng-container *ngFor="let productForm of getProduct.controls; let i = index" >

            <div class="container-card" [formGroupName]="i">
                <mat-card>
                    <mat-card-content>
            
                        <div class="card">
                    
                            <div class="card-img">
                                <img [ngSrc]="productForm.get('tempProduct.imagenUrl')?.value" [alt]="productForm.get('tempProduct.nombre')?.value" fill>
                            </div>
                    
                            <div class="card-content">
                                <h2>{{productForm.get('tempProduct.nombre')?.value | titlecase}}</h2>
                                <p>Color: {{productForm.get('tempProduct.color')?.value | titlecase}} | Talla: {{productForm.get('tallasCantidadPrecio.talla')?.value}}</p>
                            </div>
                    
                            <div class="card-price-quantity">
                                <h2>{{productForm.get('tallasCantidadPrecio.precio')?.value | currency: 'COP'}}</h2>
        
                                <div class="quantity">
                                    <div class="quantity__product" formGroupName="tallasCantidadPrecio">
                                        <button type="button" mat-mini-fab color="accent" (click)="removeQuantity(i)">
                                            <mat-icon>remove</mat-icon>
                                        </button>
        
                                        <mat-form-field appearance="outline" class="quantity__product-form-field">
                                            <input #cantidad type="number" matInput [min]="this.minQuantity" [max]="this.maxQuantity" 
                                                formControlName="cantidad" (change)="verifyQuantityInInput( productForm.get('tempProduct.stockByColor')?.value, productForm.get('tallasCantidadPrecio')!)">
                                        </mat-form-field>
        
                                        <button type="button" mat-mini-fab color="accent" (click)="addQuantity(i, productForm.get('tempProduct.stockByColor')?.value)">
                                            <mat-icon>add</mat-icon>
                                        </button>
        
                                    </div>
        
                                    <mat-hint>
                                        Cantidad {{ productForm.get("tallasCantidadPrecio.cantidad")?.value }}/{{ productForm.get('tempProduct.stockByColor')?.value }}
                                    </mat-hint>

                                </div>
        
                            </div>
                        </div>
            
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <button mat-button color="warn" (click)="removeProduct(i)">Eliminar</button>
                    </mat-card-actions>

                </mat-card>
            </div>
              
        </ng-container>

        <ng-container *ngIf="getProduct.length == 0">
            <p>No hay productos en el carrito</p>
        </ng-container>

    </ng-container>

</form>
