<div class="content-right-account">

    <section class="content-title">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h2>Tus dispositivos</h2>
    </section>

    <section class="vh-100">

        <mat-card class="device devices-linux" *ngIf="devices?.linux?.length != 0">
            <mat-card-content class="container">

                <div class="content">

                    <section class="type-device-and-sessions">
                        <div class="icon-device">
                            <mat-icon>computer</mat-icon>
                        </div>

                        <p>{{devices?.linux?.length}} sesiones en uno o varios ordenadores Linux</p>
                    </section>
    
                    <div>

                        <section class="detail-session"  *ngFor="let device of devices?.linux">
                            <div class="detail-session__content" >
                                <div class="info">
                                    <p>{{device.dispositivo | titlecase}}</p>
                                    <p>{{device.ubicacion | titlecase}}</p>
                                    <p>{{device.navegador | titlecase}}</p>
                                    <p class="actual-session" *ngIf="device.thisDevice">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        Tu sesión actual
                                    </p>
                                </div>
                                <div>
                                    <button mat-icon-button routerLink="/site/account/security/device" (click)="sendDataDevice(device)">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </section>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

        <mat-card class="device devices-windows" *ngIf="devices?.windows?.length != 0">
            <mat-card-content class="container">

                <div class="content">

                    <section class="type-device-and-sessions">
                        <div class="icon-device">
                            <mat-icon>computer</mat-icon>
                        </div>

                        <p>{{devices?.windows?.length}} sesiones en uno o varios ordenadores Windows</p>
                    </section>
                    
                    <div>

                        <section class="detail-session" *ngFor="let device of devices?.windows">
                            <div class="detail-session__content">
                                <div class="info">
                                    <p>{{ device.dispositivo | titlecase }}</p>
                                    <p>{{ device.ubicacion | titlecase }}</p>
                                    <p>{{ device.navegador | titlecase }}</p>
                                    <p class="actual-session" *ngIf="device.thisDevice">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        Tu sesión actual
                                    </p>
                                </div>
                                <div>
                                    <button mat-icon-button routerLink="/site/account/security/device" (click)="sendDataDevice(device)">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </section>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

        <mat-card class="device devices-android" *ngIf="devices?.android?.length != 0">
            <mat-card-content class="container">

                <div class="content">

                    <section class="type-device-and-sessions">
                        <div class="icon-device">
                            <mat-icon>smartphone</mat-icon>
                        </div>

                        <p>{{ devices?.android?.length }} sesiones en uno o varios teledonos Android</p>
                    </section>
                    
                    <div>

                        <section class="detail-session" *ngFor="let device of devices?.android">
                            <div class="detail-session__content">
                                <div class="info">
                                    <p>{{ device.dispositivo | titlecase }}</p>
                                    <p>{{ device.ubicacion | titlecase }}</p>
                                    <p>{{ device.navegador | titlecase }}</p>
                                    <p class="actual-session" *ngIf="device.thisDevice">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        Tu sesión actual
                                    </p>
                                </div>
                                <div>
                                    <button mat-icon-button routerLink="/site/account/security/device" (click)="sendDataDevice(device)">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </section>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

        <mat-card class="device devices-macos" *ngIf="devices?.ios?.length != 0">
            <mat-card-content class="container">

                <div class="content">

                    <section class="type-device-and-sessions">
                        <div class="icon-device">
                            <mat-icon>devices</mat-icon>
                        </div>

                        <p>{{ devices?.ios?.length }} sesiones en uno o varios ordenadores o teléfonos Apple</p>
                    </section>
                    
                    <div>

                        <section class="detail-session" *ngFor="let device of devices?.ios">
                            <div class="detail-session__content">
                                <div class="info">
                                    <p>{{ device.dispositivo | titlecase }}</p>
                                    <p>{{ device.ubicacion | titlecase }}</p>
                                    <p>{{ device.navegador | titlecase }}</p>
                                    <p class="actual-session" *ngIf="device.thisDevice">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        Tu sesión actual
                                    </p>
                                </div>
                                <div>
                                    <button mat-icon-button routerLink="/site/account/security/device" (click)="sendDataDevice(device)">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </section>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

        <mat-card class="device devices-others" *ngIf="devices?.other?.length != 0">
            <mat-card-content class="container">

                <div class="content">

                    <section class="type-device-and-sessions">
                        <div class="icon-device">
                            <mat-icon>devices</mat-icon>
                        </div>

                        <p>{{devices?.other?.length}} sesiones en uno o varios dispositivo Other</p>
                    </section>
    
                    <div>

                        <section class="detail-session" *ngFor="let device of devices?.other">
                            <div class="detail-session__content">
                                <div class="info">
                                    <p>{{ device.dispositivo | titlecase }}</p>
                                    <p>{{ device.ubicacion | titlecase }}</p>
                                    <p>{{ device.navegador | titlecase }}</p>
                                    <p class="actual-session" *ngIf="device.thisDevice">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        Tu sesión actual
                                    </p>
                                </div>
                                <div>
                                    <button mat-icon-button routerLink="/site/account/security/device" (click)="sendDataDevice(device)">
                                        <mat-icon>arrow_forward_ios</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                        </section>
                    </div>
                </div>


            </mat-card-content>
        </mat-card>

    </section>

</div>