.content-login{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content-login__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .content-login__a{
        padding-top: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
}
