.custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
    &.custom-arrow-left {
      left: 2.5%;
    }
  
    &.custom-arrow-right {
      right: 2.5%;
    }
  }

.img{
    height: 70%;
    align-self: center;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    font-size: 1.3rem;
  }

}