<ngx-glide #ngxGlide 
    [autoplay]="autoplay"
    [animationDuration]="animationDuration"
    [arrowLeftTemplate]="arrowLeftTemplate"
    [arrowRightTemplate]="arrowRightTemplate"
    [perView]="perView"
    [gap]="gap"
    [showBullets]="showBullets"
    [rewind]="rewind"
    >
    <ng-container *ngIf="isImage">
        <ng-container *ngFor="let img of data">
            <img class="img" [src]="img.link" [alt]="img.title">
        </ng-container>
    </ng-container>

    <ng-container *ngIf="isImage === false" >
        <ng-container *ngFor="let content of data">
            <mat-card class="card" (click)="open( content.link)">
                <mat-card-content>
                    <div class="content">{{content.title | titlecase}}</div>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </ng-container>

</ngx-glide>

<ng-template #arrowLeftTemplate>
    <div class="custom-arrow custom-arrow-left">
        <button mat-fab>
            <mat-icon>chevron_left</mat-icon>
        </button>        
    </div>
</ng-template>

<ng-template #arrowRightTemplate>
    <div class="custom-arrow custom-arrow-right">
        <button mat-fab>
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</ng-template>