<main class="mat-app-background">

    <div class="content">
        <mat-card>

            <mat-card-header>
                <mat-card-title class="card-title">{{prenda.nombre | titlecase }}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <section class="content-images">
                
                    <div class="images">
                        <div class="images__preview">
                            <img class="images__preview-img" *ngFor="let urImgl of prenda.imagenUrl" [src]="urImgl" [alt]="prenda.nombre" 
                                (click)="changeImg(urImgl)">
                        </div>
                
                        <div class="images__view">
                            <img class="images__view-img" [src]="actiImg" [alt]="prenda.nombre">
                        </div>
                        
                    </div>
                
                    <div class="product">
                
                        <p *ngIf="prenda.descuento != 0" >Descuento: {{prenda.descuento}}%</p>
                        <p>{{prenda.estado | titlecase}}</p>

                        <mat-divider></mat-divider>

                        <div class="product__tcd">
                            
                            <form [formGroup]="productForm">
                                
                                <ng-container formGroupName="tallasCantidadPrecio">

                                    <p>{{this.productForm.get('tallasCantidadPrecio.precio')?.value | currency: 'COP'}}</p>

                                    <p>Seleccione talla</p>

                                    <mat-button-toggle-group appearance="standard" formControlName="talla" >
                                        <mat-button-toggle *ngFor="let tpc of prenda.tallasCantidadPrecio" 
                                            [value]="tpc.talla" (click)="changeSize(tpc.talla)">
                                            {{tpc.talla}}
                                        </mat-button-toggle>
                                    </mat-button-toggle-group>
        
                                    <div class="quantity">
                                        <div class="quantity__product">
                                            <button type="button" mat-icon-button color="accent" (click)="removeQuantity()">
                                                <mat-icon>remove</mat-icon>
                                            </button>
        
                                            <mat-form-field appearance="outline" class="quantity__product-form-field">
                                                <input #cantidad type="number" matInput [min]="this.minQuantity" [max]="this.maxQuantity" value="1" 
                                                    formControlName="cantidad" (ngModelChange)="verifyQuantityInInput($event)">
                                            </mat-form-field>
        
                                            <button type="button" mat-icon-button color="accent" (click)="addQuantity()">
                                                <mat-icon>add</mat-icon>
                                            </button>
        
                                        </div>
        
                                        <mat-hint>
                                            Cantidad {{ this.productForm.get("tallasCantidadPrecio.cantidad")?.value }}/{{ stock }}
                                        </mat-hint>
                                    </div>

                                </ng-container>

                                <button class="product__tcd-btn" mat-raised-button color="primary" [disabled]="!productForm.valid">Agregar a carrito</button>

                            </form>

                        </div>

                    </div>
                
                </section>
        
            </mat-card-content>
        </mat-card>

    </div>


</main>