<div class="content-right-account">
    <h2>Seguridad</h2>

    <section class="vh-100 mb-2">
        <mat-card>

            <mat-card-header>
                <mat-card-title>Cómo inicias sesión</mat-card-title>
            </mat-card-header>

            <mat-card-content>
            <div class="info-card" routerLink="/site/account/security/verify-2fa">
                    <p class="title">Verificación en dos pasos</p>
                    <p class="value verify-state">
                        <mat-icon color="primary">{{ stateVerify2fa.icon }}</mat-icon>
                        {{ stateVerify2fa.state | titlecase }}
                    </p>
                </div>

                <mat-divider></mat-divider>

                <div class="info-card" (click)="openDialogChangePass()">
                    <p class="title">Contraseña</p>
                    <p class="value">**************</p>
                </div>

                <mat-divider></mat-divider>
            </mat-card-content>

        </mat-card>
    </section>

    <section class="vh-100 mb-2">

        <mat-card>
            <mat-card-header>
                <mat-card-title>Tus dispositivos</mat-card-title>
                <mat-card-subtitle>Dónde has iniciado sesión</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="info-card" routerLink="/site/account/security/devices" *ngIf="devicesSort?.linux?.length != 0">
                    <p class="title sessions">
                        <mat-icon>computer</mat-icon>
                        {{ devicesSort?.linux?.length }} sesiones en uno o varios ordenadores Linux
                    </p>
                    <p class="value">Linux</p>
                </div>

                <div class="info-card" routerLink="/site/account/security/devices" *ngIf="devicesSort?.windows?.length != 0">
                    <p class="title sessions">
                        <mat-icon>computer</mat-icon>
                        {{ devicesSort?.windows?.length }} sesiones en uno o varios ordenadores Windows
                    </p>
                    <p class="value">Windows</p>
                </div>

                <div class="info-card" routerLink="/site/account/security/devices" *ngIf="devicesSort?.android?.length != 0">
                    <p class="title sessions">
                        <mat-icon>smartphone</mat-icon>
                        {{ devicesSort?.android?.length }} sesiones en uno o varios smartphone Android
                    </p>
                    <p class="value">Android</p>
                </div>

                <div class="info-card" routerLink="/site/account/security/devices" *ngIf="devicesSort?.ios?.length != 0">
                    <p class="title sessions">
                        <mat-icon>devices</mat-icon>
                        {{ devicesSort?.ios?.length }} sesiones en uno o varios ordenadores Apple
                    </p>
                    <p class="value">Apple</p>
                </div>

                <div class="info-card" routerLink="/site/account/security/devices" *ngIf="devicesSort?.other?.length != 0">
                    <p class="title sessions">
                        <mat-icon>devices</mat-icon>
                        {{ devicesSort?.other?.length }} sesiones en uno o varios dispositivos
                    </p>
                    <p class="value">Other</p>
                </div>
            </mat-card-content>
        </mat-card>

    </section>

</div>