@import 'src/_variables.scss';

.active{
    background-color: $violet;
}

.account-content{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;

    .account-content__btns{
        display: none;
        flex-direction: column;

        .btn{
            display: flex;
            justify-content: left;
        }
    }

    @media (min-width: 700px) {
        .account-content__btns{
            display: flex;
        }
    }
}

.content{
    display: none;
    width: 100%;
}

@media (min-width: 700px) {
    .content{
        display: block;
    }
}

.account-content__tabs-movile{
    width: 100%;

    display: block;
    
}

@media (min-width: 700px) {
    .account-content__tabs-movile{
        .nav{
            display: none;
        }
  
    }
}