@import 'src/_variables.scss';

.active{
    background-color: $violet;
}

.account-content{
    display: flex;
    gap: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 100vh;

    .account-content__btns{
        display: flex;
        flex-direction: column;

        .btn{
            display: flex;
            justify-content: left;
        }
    }
}

.content{
    width: 100%;
}