<main class="mat-app-background">

    <div class="container">

        <section class="logo">
            <a routerLink="/site">
                <img [src]="logoUrara" alt="Logo URARA" >
            </a>
        </section>

        <section class="content">

            <div class="content__icon">
                <svg width="100%" height="376" viewBox="0 0 387 376" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_755_272)">
                    <path d="M20.494 231.587C-24.9426 198.895 40.1832 217.308 79.5615 231.587C118.94 245.867 148.474 301.105 148.474 301.105C148.474 301.105 206.784 170.883 311.288 70.3807C415.792 -30.1216 385.88 -0.640413 339.686 64.3684C293.492 129.377 272.288 206.786 221.172 289.456C170.056 372.127 148.474 370.999 148.474 370.999C148.474 370.999 155.668 370.999 136.736 362.732C117.804 354.465 65.9306 264.28 20.494 231.587Z" fill="#00CABE"/>
                    <path d="M20.494 231.587C-24.9426 198.895 40.1832 217.308 79.5615 231.587C118.94 245.867 148.474 301.105 148.474 301.105C148.474 301.105 206.784 170.883 311.288 70.3807C415.792 -30.1216 385.88 -0.640413 339.686 64.3684C293.492 129.377 272.288 206.786 221.172 289.456C170.056 372.127 148.474 370.999 148.474 370.999C148.474 370.999 155.668 370.999 136.736 362.732C117.804 354.465 65.9306 264.28 20.494 231.587Z" stroke="#00CABE"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_755_272" x="0.5" y="0.5" width="386" height="375" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.74 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_755_272"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_755_272" result="shape"/>
                    </filter>
                    </defs>
                    </svg>
            </div>

            <div class="content__icon">
                <svg width="100%" height="376" viewBox="0 0 350 376" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_754_270)">
                    <path d="M5.97116 5.00401C78.2447 6.19575 172.386 272.444 258.5 370.504H326L120.5 5.00401L5.97116 5.00401Z" fill="#FD62E3"/>
                    <path d="M5.97116 5.00401C78.2447 6.19575 172.386 272.444 258.5 370.504H326L120.5 5.00401L5.97116 5.00401ZM5.97116 5.00401L5 5.00401C5.32328 4.99866 5.647 4.99867 5.97116 5.00401Z" stroke="#161616"/>
                    </g>
                    <g filter="url(#filter1_d_754_270)">
                    <path d="M344.029 5.00841C271.755 6.20014 177.614 272.448 91.5 370.508H24L229.5 5.00841L344.029 5.00841Z" fill="#FD62E3"/>
                    <path d="M344.029 5.00841C271.755 6.20014 177.614 272.448 91.5 370.508H24L229.5 5.00841L344.029 5.00841ZM344.029 5.00841L345 5.00841C344.677 5.00305 344.353 5.00306 344.029 5.00841Z" stroke="#161616"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_754_270" x="0.992188" y="0.5" width="329.862" height="374.504" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.84 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_754_270"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_754_270" result="shape"/>
                    </filter>
                    <filter id="filter1_d_754_270" x="19.1455" y="0.504395" width="329.862" height="374.504" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.84 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_754_270"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_754_270" result="shape"/>
                    </filter>
                    </defs>
                    </svg>
                    
            </div>

            <p>Mensaje de la api</p>
        </section>

    </div>
</main>