@import 'src/_variables.scss';

.footer {
    background-color: $backgroundHeader;
    padding-bottom: 1rem;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

}

.footer__top-socials {
    img {
        width: 3rem;
        cursor: pointer;
    }
}

.footer__bottom {
    p {
        text-align: center;
    }
}

.footer__img-logo {
    width: 13rem;
    cursor: pointer;
}

.divider {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #FD62E4;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

