@import 'src/_variables.scss';

.footer {
    background-color: $aqua;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer__top-socials {
    img {
        width: 3rem;
        cursor: pointer;
    }
}

.footer__bottom {
    p {
        text-align: center;
    }
}

.footer__img {
    width: 13rem;
}

.divider {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

