<footer class="footer">
    <section class="footer__top">

        <div>
            <button mat-button routerLink="abount">
                Sobre nosotros
            </button>
        </div>

        <img class="footer__img-logo" [src]="logoUrara" alt="Logo urara" routerLink="home">

        <div class="footer__top-socials">
            <img src="https://i.ibb.co/C8FtgZ3/Facebook-logo.png" alt="Facebook">
        </div>

    </section>

    <mat-divider class="divider"></mat-divider>

    <section class="footer__bottom">
        <p>Todos los derechos reservados</p>
    </section>

</footer>