<section class="filters">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Filtros</mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <form [formGroup]="filtrosForm">

                <h3>Categorias</h3>
    
                <mat-form-field appearance="fill" class="formField">
                    <mat-select formControlName="categoria">
    
                        <mat-option *ngFor="let categoria of categoriasList" [value]="categoria.id">
                            {{categoria.nombre | titlecase}}
                        </mat-option>
    
                    </mat-select>
                </mat-form-field>
    
    
                <h3>Descuento</h3>
    
                <mat-checkbox formControlName="descuento">Con descuento</mat-checkbox>

            </form>


        </mat-card-content>

        <mat-card-actions>
            <button class="btn" mat-raised-button color="accent" (click)="filter()">Filtrar</button>
        </mat-card-actions>

    </mat-card>
</section>