<mat-card>
    <mat-card-header>
        <mat-card-title>{{ shopping?.createdAt | date: 'medium' }}</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>

        <div class="content" *ngFor="let product of shopping?.productos">

            <section class="img">
                 <img [src]="product.productID.imagenUrl[0]" [alt]="product.productID.nombre | titlecase">
            </section>

            <section class="detail">
                <p class="state">{{ shopping?.idEnvio?.estado | titlecase}}</p>
                <!-- <p>Llegó el 10 de agosto</p> -->
                <p class="opasity">{{ product.productID.nombre | titlecase }}</p>
                <p class="opasity">Cantidad: {{ product.tallasCantidadPrecio.cantidad }}</p>
            </section>
        </div>

    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button color="primary" routerLink="/site/account/my-buys/purchase-detail">
            Ver compra
        </button>
    </mat-card-actions>
</mat-card>