mat-card{
    margin-bottom: 2rem;
}

.content{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

    .img{
        position: relative;
        width: 5rem;
        height: 5rem;
        background-color: black;

        img{
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0px;
        }
    }

    .detail{
        p{
            margin: 0;
        }

        .state{
            color: green;
        }

        .opasity{
            opacity: 70%;
        }
    }
}

mat-card-actions{
    gap: 1rem;
}