<main class="mat-app-background">

    <section class="img">
        <img [src]="logoUrara" alt="logo urara">
    </section>

    <section class="mision-vision">

        <section class="mision">
            <h2>Misión</h2>
            <p class="p-text">Somos una empresa de diseño textil enfocada en diseñar diferentes estilos de ropa, orientada a dar una
                excelente calidad
                en los materiales utilizados y el servicio que ofrecemos a nuestros clientes y a su vez ofrecemos prenda
                de vestir para niña. </p>
        </section>

        <section class="vision">
            <h2>Visión</h2>
            <p class="p-text">Ser reconocida en el 2027 por estar en el mercado como una empresa exitosa, logrando el reconocimiento a
                nivel nacional e internacional,
                gracias a nuestros productos de calidad y precios, respetando los valores como la ética profesional.</p>
        </section>


    </section>

    <section class="objetivos">
        <h2>Objetivos corporativos</h2>
        <ul>
            <li>Crear y desarrollar colecciones de ropa con diseños y complementos de tendencia.</li>
            <li>Desarrollar y mantener una marca única con estándares de calidad.</li>
            <li>Lograr la expansión a nivel nacional e internacional.</li>
        </ul>
    </section>


</main>