<main class="mat-app-background">

      <app-slider [data]="imgSlider"></app-slider>

      <div class="content__box">
            <section class="box box-color box-text">
                  
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero impedit deserunt sint itaque dolor voluptatum
                  omnis corporis porro illum, totam earum quisquam quod excepturi sed sapiente minima natus at debitis?</p>
                  
            </section>
            <section>
                  <img class="box-img" [src]="linkBoxImg" alt="">
            </section>
      </div>

      <div class="content__categorias">

            <h2 class="content__categorias-title">CATEGORIAS</h2>

            <app-slider
                  [data]="categorias"
                  [isClickable]="true"
                  [isImage]="false"
                  
                  [gap]="15"
                  [showBullets]="false"
                  [autoplay]="false"
                  [rewind]="false"
            >
            </app-slider>
      </div>

      <section class="content__new">

      </section>

</main>