.numero{
    span{
        padding-left: 15px;
    }
}

.type-address{
    display: flex;
    gap: 2rem;
}

.direccion{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 2rem;

    
}

.direccion-datos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 2rem;

    mat-form-field{
        width: 100%;
    }
}

.direccion-datos__number{
    display: flex;
    gap: 2rem;

    mat-form-field{
        width: 50%;
    }
}

.references{
    margin-top: 2rem;
    
    mat-form-field{
        width: 100%;
    }
}