.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    .values{
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;

        h2{
            font-size: medium;
        }
    }

    @media (min-width: 700px) {
        .values{
            h2{
                font-size: larger;
            }
        }
    }

    .btn{
        background-color: #FD62E3;
        width: 100%;
    }
}