<div class="content-right-account">

    <section class="content-title">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h2>Dispositivo</h2>
    </section>

    <section class="vh-100">

        <mat-card>
            <mat-card-content>

                <section>

                    <div class="icon-device">
                        <mat-icon>computer</mat-icon>
                    </div>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    <div>

                    </div>
                </section>

                <section></section>

                <section></section>

            </mat-card-content>
        </mat-card>

    </section>

</div>