<h1 mat-dialog-title>Cambiar contraseña</h1>

<mat-dialog-content>

    <div class="content">
        <form class="content__form" [formGroup]="changePassForm">
    
            <mat-form-field appearance="outline">
                <mat-label>Contraseña actual</mat-label>
                <input type="password" matInput formControlName="claveAntigua">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <input type="password" matInput formControlName="claveNueva">
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label>Confirmar nueva contraseña</mat-label>
                <input type="password" matInput formControlName="confirmarClave">
                <mat-error *ngIf="validateConfirmPass()">La contraseña no coincide</mat-error>
            </mat-form-field>
    
        </form>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="!changePassForm.valid"
        (click)="saveChangePass()">
        Cambiar la contraseña
    </button>
</mat-dialog-actions>