<div class="content-right-account">

    <section class="content-title">
        <button mat-icon-button (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <h2>Detalles de la compra</h2>
    </section>

    <section class="vh-100">

        <ng-container *ngFor="let product of purchase?.productos">

            <mat-card class="mb-2">
                <mat-card-content >
    
                    <div class="product">
                        <section class="detail">
                            <p>{{ product.productID.nombre | titlecase }}</p>
                            <p>Cantidad: {{ product.tallasCantidadPrecio.cantidad }}</p>
                        </section>
    
                        <section class="img">
                            <img [src]="product.productID.imagenUrl[0]" [alt]="product.productID.nombre | titlecase">
                        </section>
                    </div>
    
                </mat-card-content>
            </mat-card>

        </ng-container>

        <mat-card class="mb-2">
            <mat-card-content>

                <div class="purchase-detail">

                    <section class="envio mb-2">
                        <p class="state">Estado del envío: {{ purchase?.idEnvio?.estado | titlecase }}</p>
                        <!-- <p>Llegó el 10 de agosto</p> -->
                        <p>Se entrega en Barrio {{ purchase?.direccionFacturacion?.barrio | titlecase}}, {{purchase?.direccionFacturacion?.tipocalle | titlecase}},
                            {{purchase?.direccionFacturacion?.callenumero}} #{{purchase?.direccionFacturacion?.numero1}} - {{purchase?.direccionFacturacion?.numero2}}
                            {{ purchase?.direccionFacturacion?.ciudad | titlecase}},
                            {{ purchase?.direccionFacturacion?.departamento | titlecase}}, {{ purchase?.direccionFacturacion?.pais | titlecase}}
                        </p>
                    </section>

                    <mat-divider></mat-divider>

                    <section class="detail">
                        <h3>Detalle de la compra</h3>
                        <p class="date-ref">{{ purchase?.createdAt | date: 'medium' }} | #{{ purchase?.numFactura }}</p>

                        <mat-divider></mat-divider>

                        <div class="prices">

                            <section class="products position">
                                <p class="opasity">Productos ({{ purchase?.productos?.length }})</p>
                                <p class="opasity">{{ purchase?.subtotal | currency: 'COP' }}</p>
                            </section>

                            <section class="shipment position">
                                <p class="opasity">Envio</p>
                                <p *ngIf="purchase?.idEnvio?.montoEnvio == 0">Gratis</p>
                                <p *ngIf="purchase?.idEnvio?.montoEnvio != 0">{{ purchase?.idEnvio?.montoEnvio | currency: 'COP' }}</p>
                            </section>

                            <mat-divider></mat-divider>

                            <section class="total position">
                                <p>Total</p>
                                <div class="total-price">
                                    <p>{{ purchase?.total | currency: 'COP' }}</p>
                                    <p>{{ purchase?.idPago?.metodoPago | titlecase }}</p>
                                </div>
                            </section>
                        </div>
                    </section>

                    <section class="detail-pay-shipment">
                        <p class="title" (click)="activeDetailPyment()">
                            Detalle de pago y envío
                            <mat-icon>expand_more</mat-icon>
                        </p>

                        <div [ngClass]="_activatePaymentAndShipment ? 'detail-pay-shipment-open' : 'detail-pay-shipment-close'">
                            <section>

                                <h3>Pago</h3>
                                <mat-card>
                                    <mat-card-content>
                                        
                                        <div class="payment-shipment">
                                            <section class="icon">
                                                <mat-icon>attach_money</mat-icon>
                                            </section>

                                            <section class="data">
                                                <p>{{ purchase?.idPago?.monto | currency: 'COP' }}</p>
                                                <p class="opasity">{{ purchase?.idPago?.metodoPago | titlecase }}</p>
                                                <p class="opasity">{{ purchase?.idPago?.fechaPago | date: 'medium' }}</p>
                                                <p>{{ purchase?.idPago?.estado | titlecase }}</p>
                                            </section>
                                        </div>

                                    </mat-card-content>
                                </mat-card>
                            </section>

                            <section style="margin-bottom: 2rem;">
                                <h3>Envío</h3>
                                <mat-card>
                                    <mat-card-content>
                                        <div class="payment-shipment">
                                            <section class="icon">
                                                <mat-icon>local_shipping</mat-icon>
                                            </section>

                                            <section class="data">
                                                <p>{{ purchase?.direccionFacturacion?.barrio | titlecase}}, {{purchase?.direccionFacturacion?.tipocalle | titlecase}},
                                                    {{purchase?.direccionFacturacion?.callenumero}} #{{purchase?.direccionFacturacion?.numero1}} - {{purchase?.direccionFacturacion?.numero2}}</p>
                                                <p class="opasity"> {{ purchase?.direccionFacturacion?.ciudad | titlecase }}, 
                                                    {{ purchase?.direccionFacturacion?.departamento | titlecase }}, 
                                                    {{ purchase?.direccionFacturacion?.pais | titlecase }}
                                                </p>
                                                
                                            </section>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </section>
                        </div>

                    </section>
                </div>

            </mat-card-content>
        </mat-card>

    </section>

</div>