.height-100{
    height: 100vh;
}

.content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 13%;
    padding-right: 12%;
}

.content__title {
    text-align: center;
    padding-bottom: 3rem;
    font-size: 2em;
}

.filters {
    width: 100%;
    display: none;
}

@media (min-width: 900px) {
    .filters {
        display: block;
    }
}

.filters__mobile {
    padding-bottom: 3rem;
    padding-left: 3rem;
    display: block;
}

@media (min-width: 900px) {
    .filters__mobile {
        display: none;
    }

    .content__container{
        flex-direction: row !important;
        justify-content: space-evenly;
    }
}

.content__container{
    display: flex;
    flex-direction: column;

    .product-none{
        text-align: center;
    }

    .content__container-data{
        width: 100%;
    }
}