<main class="mat-app-background height-100">
    
    <div class="content">

        <h2 class="content__title">CATALOGO</h2>

        <aside class="filters">
            <app-filters></app-filters>
        </aside>
    
        <section class="filters__mobile">
            <button mat-raised-button color="primary" (click)="openBottomSheet()">Filtrar</button>
        </section>
        
        <div *ngIf="arrayCard.length != 0">
            <app-cards [products]="arrayCard"></app-cards>
                 
        </div>

        <div *ngIf="arrayCard.length == 0">
            <h3>No se han encontrado productos</h3>
        </div>
        
        <app-paginate></app-paginate>
        

    </div>

</main>
